.contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 0;
  font-weight: 600;
  background-color: #fed600;
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 0 20px 0 0;
  }

  p {
    margin: 0 20px 0 0;
  }

  p:last-child {
    margin-right: 0;
  }
}

.contacts__city {
  position: relative;
  padding-right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/vector.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.contacts__text {
  margin: 0 18px;
}

.contacts__item {
  margin: 0 9px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.contacts__feedback {
  display: flex;
  flex-wrap: wrap;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__write {
  margin: 0 18px;
}

.contacts__director-contacts {
  display: flex;
}
