.header {
  font-size: 13px;
  line-height: 18px;
}

.header__text {
  font-style: italic;
  font-size: 13px;
  line-height: 18px;

  span {
    color: #f60007;
  }
}

.header__big-block {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}
