@charset "UTF-8";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@import "nullstyle.scss";
@import "blocks/better-to-see-once.scss";
@import "blocks/contacts.scss";
@import "blocks/container.scss";
@import "blocks/big-block.scss";
@import "blocks/control.scss";
@import "blocks/general-menu.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/nav.scss";
@import "blocks/services-menu.scss";
@import "blocks/title.scss";
@import "blocks/video.scss";
@import "blocks/work-in-company.scss.scss";

body {
  font-family: Open Sans;
  font-weight: 400;
}
